.list {
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(3,1fr);
  }
}
